@font-face {
  font-family: GraphikLCG-Semibold;
  src: url("./fonts/GraphikLCG-Semibold.ttf");
}

@font-face {
  font-family:GraphikLCG-Regular ;
  src: url("./fonts/GraphikLCG-Semibold.ttf");
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family:GraphikLCG-Regular ;
  }
.container {
  margin: 0 auto;
  max-width: 1440px; 
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  display: flex;
}

.header_box {
  display: flex;
  padding-top: 20px;
}




.navigat {
  display: flex;
  margin-right: 300px;
  align-items: center; 
  padding-bottom: 20px;
}

.navigat a{
  padding-left: 42px;
  font-family: GraphikLCG-Regular;
}




.buttons_header {
  display: flex;
  
}

.Log_in,
.tif {
  width: 120px;
  height: 45px;
  background-color: #FFFFFF;
  border: 1px solid gray;
  align-items: center;
  font-family: Graphik LC TT;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 15px;
}

.tif {
  background-color: #ff6336;
  color: #eeeeee;
}



.localization{
  margin-left: 100px;
  background-color: #FFFFFF;

}

.localization_box{
  margin-left: 105px;
  background-color: #FFFFFF;
  padding-bottom: 182px;
  display: flex;
  }

.loc_box{
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.loc_but{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 25px;
}

.main_text{
  font-size: 65px;
  font-family: Graphik LC TT;
  font-weight: 600;
  line-height: 70px; 
  margin-top: 129px;
}

.loc_content{
  font-size: 25px;
  font-weight: 400;
  line-height: 35px; 
  font-family: Graphik LC TT;
  margin-top: 51px;
}

.loc_tif{
  width: 160px;
  height: 60px;
  background-color: #FF6336;
  margin-right: 20px;
  font-family: Graphik LC TT;
  align-items: center;
  color: #EEEEEE;
}

.bat{
  background-color: #ffffff;
  width: 160px;
  font-family: Graphik LC TT;
  height: 60px;
  border: 1px solid gray;
  width: 160px;
  height: 59px;
  align-items: center;
}
.under_button{

  font-size: 15px;
  line-height: 25px; 
  font-family: Graphik LC TT;

}
.malunok{
  padding-top: 120px;
}

.company{
  display: flex;
  padding-bottom: 100px;
  background-color: #FF9C7D;
}

.company_box{
  display: flex;
  flex-direction: column;

}

.company_text{
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px; 
  font-family: Graphik LC TT;
  margin-top: 100px;
}

.brands{
  display: flex;
  margin-top: 70px;
  align-items: center; 
}

.brands svg{

  margin-right: 100px;
}



.big_block{
  display: flex;
  padding-bottom: 150px;
  background-color: #FFFFFF;
}

.big_box{
  display: flex;
  flex-direction: column;

}

.control{
  display:flex;
  margin-top: 100px;
  flex-direction: row;
}

.control_box{
  display: flex;
  flex-direction: column; 

}

.control_title{
  color: #000;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 151px;
}

.control_main{
  padding-top: 30px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.control_under{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

.control img {
  margin-left: 165px;
}

.shorten {
  display: flex;
  margin-top: 100px;
  align-items: center; 
}

.shorten_content {
  margin-left: 138px; 
  text-align: left; 
}

.shorten_title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 0; 
}

.shorten_main {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.shorten_under {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px;
}


.ensure{
  display:flex;
  margin-top: 100px;
}

.ensure_title{
  width: 500px;
  color: #000;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 151px;
}

.ensure_main{
  padding-top: 30px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.ensure_under{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; 
  margin-top: 20px;
}

.ensure img {
  display: flex;
  margin-left: 165px;
}

.less {
  display: flex;

  margin-top: 100px;
  align-items: center; 
}

.less_content {
  text-align: left; 
}

.less_title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.less_main {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.less_under {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px;
}

.less img {
  width: 632px;
  height: 632px;
}




.icons{
padding-bottom: 140px;
background-color: #FFF8E4;
display: flex;

}

.icons_text{
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px; 
  margin-top: 120px;
  padding-bottom: 20px;

}
.icons_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.web_card, .mobile_card, .games_card, .doc_card, .mem_card, .iot_card {
  width: calc(33.33% - 15px);
  margin-bottom: 20px;
  padding: 0 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.web_card .mobile_card .games_card .doc_card .mem_card .iot_card img {

  flex-shrink: 0;
}

.icons_title {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
}

.icons_main {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;

}




.boost{
  display: flex;
  padding-bottom: 170px;
  background-color: #FFFFFF;
  justify-content: space-between; 
}

.boost_title{

  color: #000;
  font-family: Graphik LC TT;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-top: 154px;
}

.boost_cards {
  display: flex;
  margin-top: 25px; 
}

.boost_card {

  flex: 1;
  max-width: calc(33.33% - 20px);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}


.img_m{
  width: 145px;
  height: 201px;
  flex-shrink: 0;

}

.img_d{
  width: 179px;
  height: 166px;
  flex-shrink: 0;
}

.img_t{
  width: 179px;
  height: 183px;
  flex-shrink: 0;
}

.card_title {
  color: #000;
  font-family: "Graphik LC TT", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 15px; 
}

.card_main {
  color: #000;
  font-family: "Graphik LC TT", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px; 
}

.card_under {
  color: #000;
  font-family: "Graphik LC TT", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  margin-top: 10px; 
}


  .quote{
  padding-bottom: 100px;
  padding-top: 70px;
  background-color: #C9E8F2;
  }

.quote_cont{
  display: flex;
  justify-content: space-between;
}

.quote_box{
  padding-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

}

.quete_text{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 

}

.quete_under{
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  margin-top: 15px;
  margin-bottom: 12px;
}

.man{
  padding-right: 100px;
}


.pie{
  display: flex;
  padding-bottom: 100px;
  background-color: #DABC98;
  
}

.pie_img{
  width: 176px;
  height: 154px;
  flex-shrink: 0;
}

.pie_main_box{
display: flex;
flex-direction: row;
}

.pie_box{
  margin-top: 70px;
  display: flex;
  align-items: center;
  margin-right: 50px;
  flex-direction: row;
  border-right: 1px solid rgb(0, 0, 0);
}



.pie_title{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px; 
  margin-right: 300px;

}

.pie_img{

  margin-right: 30px;
}


.star_box{
  display: flex;
  margin-left: 80px;
  margin-right: 70px;
  margin-top: 100px;
}

.star_card_g
{
  display: flex;
  flex-direction: column;
}

.star_card_c
{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.star{
  margin-top: 20px;
  margin-bottom: 14px;
}

.bird {
  background-color: #FFFFFF;
}

.box_bird {

  margin-top: 169px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 100px;
}

.title_bird {
  padding-bottom: 50px;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 65px;
  font-weight: 400;
  line-height: 30px; 
  line-height: 1;
}

.main_bird {
  text-align: center;
  color: #000;
  font-family: Graphik LC TT;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 

}
.img_bird{
  width: 1023px;
  height: 445px;
  flex-shrink: 0;


}
.bird_button {
  margin-top: 32px;
  width: 193px;
  height: 60px;
  background-color: #FF6336;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.red_block {
  display: flex;
  align-items: center;
  background-color: #FF9C7D;
}

.red_box{
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  display: flex;
  padding-top: 100px;
  padding-bottom: 150px;
}

.red_title {
  color: #000;
  font-family: "Graphik LC TT", sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;

  text-align: center; 
}

.red_main {
  color: #000;
  font-family: "Graphik LC TT", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 26px;
  text-align: center; 
}

.red_button {
  width: 160px;
  height: 60px;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 26px; 
}



.footer{
background-color: #EEEEEE;
flex-direction: column; 
}

.footer_box{
  display: flex;
  border-bottom: 1px solid gray;
  margin-left: 55px;
}

.velo_box{
  flex-direction: column; 
  display: flex;
  flex-shrink: 0;
}

.case_studes{
  margin-top: 120px;
  color: #000;
  font-family: Graphik LC TT;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; 

}

.velo{
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 28px;
  margin-bottom: 31px;
}

.under_velo{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 

}

.velo_main{
  margin-top: 11px;
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.remo{
  margin-top: 15px;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  padding-bottom: 95px;
}

.colum_4{
  display: flex;
  margin-bottom: 391px;
  justify-content: space-between;
  margin-top: 120px;
  margin-left: 140px;
}
.p_colum{
  flex-direction: column; 
  margin-right: 75px;
}
.s_colum{
  flex-direction: column; 
  margin-right: 75px;
}
.c_colum{
  flex-direction: column; 
  margin-right: 75px;
}
.l_colum{
  flex-direction: column; 
}

.p_colum  h3{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 125% */

}

.p_colum  p{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 100% */
  margin-top: 15px;
  margin-top: 15px;
}

.s_colum  h3{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 125% */

}



.s_colum  p{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 100% */
  margin-top: 15px;
}

.c_colum  h3{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 125% */

}

.c_colum  p{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 100% */
  margin-top: 15px;
}

.l_colum  h3{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 125% */

}

.l_colum  p{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 100% */
  margin-top: 15px;
}

.end{
  display: flex;
  margin-top: 20px;
  margin-left: 55px;

}
.end svg{
  margin-right: 15px;
}

.end p{
  color: #000;
  font-family: Graphik LC TT;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
  }