body{
    background-color: antiquewhite;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card h3 {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

