body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  max-width: 1980px; 
  margin: 0 auto; 
}

.block1 {
  background-color: #EEEFF1;
  width: 100%;
  height: 700px;
}

.tk1 {
  width: 746px;
  height: 27px;
  position: relative;
  top: 79px;
  right: 0%;
  margin-left:  400px;
}

.Homepage,
.AboutAuthor,
.Works,
.Process,
.Contacts {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 164.063%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 45px;
}

.Homepage {
  color: var(--accent, #34547A);
  
}

.AboutAuthor,
.Works,
.Process,
.Contacts {
  color: #000;
}


.dal {
    float: left;
    width: 541px;
    height: 45px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.063%;
    margin-left:  400px;
    margin-top: 257px;
  }

.tk2 {
    margin-left:  400px;
    margin-top: 357px;
    width: 540px;
    height: 67px;
    top: 362px;
    left: 400px;
    color: #727272;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; 
}
.wm {
    float: left;
    width: 225px;
    height: 65px;
    top: 494px;
    margin-left: 400px;
    background-color: #34547A;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.6px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.block2 {
    background-color: #ffffff;
    width: 100%;
    height: 359px;
}

.am {
    float: right;
    width: 403px;
    height: 30px;
    color: #000;
    text-align: center;
    margin-top: 112px;
    margin-right: 758px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .tk3 {
    float: right;
    width: 540px;
    height: 67px;
    flex-shrink: 0;
    color: #727272;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    margin-top: 50px;
    margin-right: 690px;
  }


.block3 {
    background-color: #34547A;
    width: 100%;
    height: 250px;
}

.card-container {
    margin-left: 250px; 
  }
  
  .card {
    display: inline-block;
    padding-left: 50px;
    width: 140px;
    height: 100px;
    margin-top: 50px;
    margin-right: 45px;
  }
  
  
  .card img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
  }
  
  .card h3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-left: 5px;
  }
  
  .card p {
    color: #FFF;
    width: 71px;
    height: 15px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    margin: 0;
    margin-left: 60px;
  }


.block4 {
    background-color: #EEEFF1;
    width: 100%;
    height: 1004px;
}

.hdiw {
    float: right;
    width: 403px;
    height: 30px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    margin-top: 142px;
    margin-right: 758px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .tk4 {
    float: right;
    width: 540px;
    height: 67px;
    flex-shrink: 0;
    color: #727272;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    margin-right: 690px;
    margin-top: 50px;
  }
.block4 iframe{
    margin-right: 405px;
    margin-top: 57px;
    float: right;

}

.block5 {
    background-color: #34547A;
    width: 100%;
    height: 151px;
}

.js {
    width: 130px;
    height: 19px;
    color: #FFF;
    right: 406px;
    font-family: Roboto;
    font-size: 21px;
    float: left;
    margin-top: 50px;
    margin-left: 406px;
}

.ura {
    float: left;
    width: 193px;
    height: 12px;
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-top: 89px;
    margin-left: -130px;
  }