ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    float: left;
    height: 30px;
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: center;
    background: #2c2929;
    position: relative;
    padding-top: 12px;
}
ul li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
}
ul li ul li {
    float: none;
    height: 30px;
    margin: 0;
    width: 150px;
    text-align: center;
    background: #4b6f91;
}
ul li{
    display: block;
    width: 150px;
    height: 30px;
    color: rgb(207, 190, 190);
    text-decoration: none;
}
ul li:hover ul {
    display: block;
}
ul li:hover {
    background: #3581c8;
}
ul li ul li ul {
    left: 150px;
    top: 0;
}
ul li ul li ul li {
    display: none;
}
ul li ul li:hover ul li {
    display: block;
}